In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [4]:
soup=BeautifulSoup(page.content)
women_team=soup.find_all(class_="u-hide-phablet")
women_team

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [11]:
women_teams=[]
for i in women_team:
    women_teams.append(i.text.replace("\n",""))
women_teams[0:10]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [25]:
first_match=soup.find(class_="rankings-block__banner--matches")
first_match
first_points=soup.find(class_="rankings-block__banner--points")
first_points

In [15]:
women_matches=soup.find_all(class_="table-body__cell u-center-text")
women_matches

[<td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">2,840</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">3,390</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">2,635</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,324</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">1,872</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">1,496</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">306</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">519</td>,
 <td class="table-body__cell u-center-text">2</td>,
 <td class="table-body__cell u-center-text">25</td>]

In [35]:
matches=[]
points=[]
j=1
matches.append(first_match.text)
points.append(first_points.text)
for i in women_matches:
    if(j%2!=0):
        matches.append(i.text.replace("\n",""))
    else:
        points.append(i.text.replace("\n",""))
    j=j+1
print(matches)
print(points)

['19', '24', '29', '24', '25', '22', '20', '5', '11', '2']
['3,129', '2,840', '3,390', '2,635', '2,324', '1,872', '1,496', '306', '519', '25']

In [42]:
first_rating=soup.find(class_="rankings-block__banner--rating u-text-right")
first_rating

<td class="rankings-block__banner--rating u-text-right">
                            165
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>

In [39]:
match_rating=soup.find_all(class_="table-body__cell u-text-right rating")
match_rating

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">110</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell u-text-right rating">75</td>,
 <td class="table-body__cell u-text-right rating">61</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">13</td>]

In [45]:
rating=[]
rating.append(first_rating.text.replace("\n","").strip())
for i in match_rating:
    rating.append(i.text)
rating

['165', '118', '117', '110', '93', '85', '75', '61', '47', '13']

In [46]:
top_10odi_womenteam=pd.DataFrame({})
top_10odi_womenteam["team"]=women_teams[0:10]
top_10odi_womenteam["matches"]=matches
top_10odi_womenteam["points"]=points
top_10odi_womenteam["rating"]=rating
top_10odi_womenteam

           team matches points rating
0     Australia      19  3,129    165
1       England      24  2,840    118
2  South Africa      29  3,390    117
3         India      24  2,635    110
4   New Zealand      25  2,324     93
5   West Indies      22  1,872     85
6      Pakistan      20  1,496     75
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13