In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
page

In [19]:
soup=BeautifulSoup(page.content)
#allrounder=soup.find_all(class_="rankings-block__banner--name")
#allrounder[2]

In [16]:
allrounders=soup.find_all(class_="table-body__cell name")[17:27]
allrounders

[<td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/424">Marizanne Kapp</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/468">Jess Jonassen</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/430">Dane van Niekerk</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/478">Sophie Devine</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/547">Katherine Brunt</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
 </td>]

In [21]:
women_allrounder=[]
for i in allrounders:
    women_allrounder.append(i.text.replace("\n",""))
women_allrounder

['Ellyse Perry',
 'Marizanne Kapp',
 'Natalie Sciver',
 'Deepti Sharma',
 'Stafanie Taylor',
 'Jess Jonassen',
 'Dane van Niekerk',
 'Sophie Devine',
 'Katherine Brunt',
 'Ashleigh Gardner']

In [38]:
#first_team=soup.find_all(class_="rankings-block__banner--nationality")
#first_team[2]

In [36]:
teams=soup.find_all(class_="table-body__logo-text")[17:27]
teams

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>]

In [39]:
women_teams=[]
#women_teams.append(first_team[2].text.replace("\n","").split()[0])
for i in teams:
    women_teams.append(i.text.replace("\n",""))
women_teams

['AUS', 'SA', 'ENG', 'IND', 'WI', 'AUS', 'SA', 'NZ', 'ENG', 'AUS']

In [44]:
first_rating=soup.find_all(class_="rankings-block__banner--rating")[2]
first_rating

In [42]:
rating=soup.find_all(class_="table-body__cell u-text-right rating")[18:27]
rating

[<td class="table-body__cell u-text-right rating">384</td>,
 <td class="table-body__cell u-text-right rating">380</td>,
 <td class="table-body__cell u-text-right rating">331</td>,
 <td class="table-body__cell u-text-right rating">322</td>,
 <td class="table-body__cell u-text-right rating">307</td>,
 <td class="table-body__cell u-text-right rating">274</td>,
 <td class="table-body__cell u-text-right rating">254</td>,
 <td class="table-body__cell u-text-right rating">254</td>,
 <td class="table-body__cell u-text-right rating">252</td>]

In [47]:
women_rating=[]
women_rating.append(first_rating.text)
for i in rating:
    women_rating.append(i.text.replace("\n",""))
women_rating

['418', '384', '380', '331', '322', '307', '274', '254', '254', '252']

In [48]:
women_allrounders=pd.DataFrame({})
women_allrounders["player"]=women_allrounder
women_allrounders["team"]=women_teams
women_allrounders["rating"]=women_rating
women_allrounders

             player team rating
0      Ellyse Perry  AUS    418
1    Marizanne Kapp   SA    384
2    Natalie Sciver  ENG    380
3     Deepti Sharma  IND    331
4   Stafanie Taylor   WI    322
5     Jess Jonassen  AUS    307
6  Dane van Niekerk   SA    274
7     Sophie Devine   NZ    254
8   Katherine Brunt  ENG    254
9  Ashleigh Gardner  AUS    252