In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [87]:
soup=BeautifulSoup(page.content)
player_first_name=soup.find(class_="rankings-block__banner--name")
player_first_name
player_first_rating=soup.find(class_="rankings-block__banner--rating")
player_first_rating
player_first_team=soup.find(class_="rankings-block__banner--nationality")
player_first_team

<div class="rankings-block__banner--nationality">
<div class="flag-15 PAK"></div>
<span class="rankings-block__banner--nation"></span>PAK
                            <div class="rankings-block__banner--rating">873</div>
</div>

In [55]:
other_player_names=soup.find_all(class_="table-body__cell name")[0:9]
other_player_names

[<td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/164">Virat Kohli</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/167">Aaron Finch</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/506">Jonny Bairstow</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/170">David Warner</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/2751">Shai Hope</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/440">Kane Williamson</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/834">Quinton de Kock</a>
 </td>]

In [56]:
best_players=[]
best_players.append(player_first_name.text)
for i in other_player_names:
    best_players.append(i.text.replace("\n"," "))
best_players

['Babar Azam',
 ' Virat Kohli ',
 ' Rohit Sharma ',
 ' Ross Taylor ',
 ' Aaron Finch ',
 ' Jonny Bairstow ',
 ' David Warner ',
 ' Shai Hope ',
 ' Kane Williamson ',
 ' Quinton de Kock ']

In [57]:
teams_country=soup.find_all(class_="table-body__logo-text")[0:9]
teams_country

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SA</span>]

In [75]:
countries=[]
countries.append(player_first_team.text.replace("\n","").split()[0])
for i in teams_country:
    countries.append(i.text.replace("\n",""))
countries

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [78]:
teams_rating=soup.find_all(class_="table-body__cell u-text-right rating")[0:9]
teams_rating

[<td class="table-body__cell u-text-right rating">844</td>,
 <td class="table-body__cell u-text-right rating">813</td>,
 <td class="table-body__cell u-text-right rating">801</td>,
 <td class="table-body__cell u-text-right rating">779</td>,
 <td class="table-body__cell u-text-right rating">775</td>,
 <td class="table-body__cell u-text-right rating">762</td>,
 <td class="table-body__cell u-text-right rating">758</td>,
 <td class="table-body__cell u-text-right rating">754</td>,
 <td class="table-body__cell u-text-right rating">747</td>]

In [80]:
rating=[]
rating.append(player_first_rating.text)
for i in teams_rating:
    rating.append(i.text)
rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '747']

In [81]:
top_10_odi_players=pd.DataFrame({})
top_10_odi_players['players']=best_players
top_10_odi_players['coutry']=countries
top_10_odi_players['rating']=rating
top_10_odi_players

             players coutry rating
0         Babar Azam    PAK    873
1       Virat Kohli     IND    844
2      Rohit Sharma     IND    813
3       Ross Taylor      NZ    801
4       Aaron Finch     AUS    779
5    Jonny Bairstow     ENG    775
6      David Warner     AUS    762
7         Shai Hope      WI    758
8   Kane Williamson      NZ    754
9   Quinton de Kock      SA    747

In [84]:
rank=[]
for i in range(1,11):
    rank.append(i)
rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
top_10_odi_players['rank']=rank
top_10_odi_players

             players coutry rating  rank
0         Babar Azam    PAK    873     1
1       Virat Kohli     IND    844     2
2      Rohit Sharma     IND    813     3
3       Ross Taylor      NZ    801     4
4       Aaron Finch     AUS    779     5
5    Jonny Bairstow     ENG    775     6
6      David Warner     AUS    762     7
7         Shai Hope      WI    758     8
8   Kane Williamson      NZ    754     9
9   Quinton de Kock      SA    747    10