In [89]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [88]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
page

In [90]:
soup=BeautifulSoup(page.content)
player_first_name=soup.find(class_="rankings-block__banner--name")
player_first_name
player_first_rating=soup.find(class_="rankings-block__banner--rating")
player_first_rating
player_first_team=soup.find(class_="rankings-block__banner--nationality")
player_first_team

<div class="rankings-block__banner--nationality">
<div class="flag-15 IND"></div>
<span class="rankings-block__banner--nation"></span>IND
                            <div class="rankings-block__banner--rating">762</div>
</div>

In [91]:
other_player_names=soup.find_all(class_="table-body__cell name")[0:9]
other_player_names

[<td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1785">Lizelle Lee</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/466">Alyssa Healy</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/545">Tammy Beaumont</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/469">Meg Lanning</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3176">Laura Wolvaardt</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>]

In [92]:
best_players=[]
best_players.append(player_first_name.text)
for i in other_player_names:
    best_players.append(i.text.replace("\n"," "))
best_players

['Mithali Raj',
 ' Lizelle Lee ',
 ' Alyssa Healy ',
 ' Tammy Beaumont ',
 ' Amy Satterthwaite ',
 ' Meg Lanning ',
 ' Smriti Mandhana ',
 ' Ellyse Perry ',
 ' Laura Wolvaardt ',
 ' Natalie Sciver ']

In [93]:
teams_country=soup.find_all(class_="table-body__logo-text")[0:9]
teams_country

[<span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">ENG</span>]

In [94]:
countries=[]
countries.append(player_first_team.text.replace("\n","").split()[0])
for i in teams_country:
    countries.append(i.text.replace("\n",""))
countries

['IND', 'SA', 'AUS', 'ENG', 'NZ', 'AUS', 'IND', 'AUS', 'SA', 'ENG']

In [95]:
teams_rating=soup.find_all(class_="table-body__cell u-text-right rating")[0:9]
teams_rating

[<td class="table-body__cell u-text-right rating">761</td>,
 <td class="table-body__cell u-text-right rating">756</td>,
 <td class="table-body__cell u-text-right rating">740</td>,
 <td class="table-body__cell u-text-right rating">726</td>,
 <td class="table-body__cell u-text-right rating">723</td>,
 <td class="table-body__cell u-text-right rating">701</td>,
 <td class="table-body__cell u-text-right rating">679</td>,
 <td class="table-body__cell u-text-right rating">672</td>,
 <td class="table-body__cell u-text-right rating">672</td>]

In [96]:
rating=[]
rating.append(player_first_rating.text)
for i in teams_rating:
    rating.append(i.text)
rating

['762', '761', '756', '740', '726', '723', '701', '679', '672', '672']

In [97]:
top_10_odi_players=pd.DataFrame({})
top_10_odi_players['players']=best_players
top_10_odi_players['coutry']=countries
top_10_odi_players['rating']=rating
top_10_odi_players

               players coutry rating
0          Mithali Raj    IND    762
1         Lizelle Lee      SA    761
2        Alyssa Healy     AUS    756
3      Tammy Beaumont     ENG    740
4   Amy Satterthwaite      NZ    726
5         Meg Lanning     AUS    723
6     Smriti Mandhana     IND    701
7        Ellyse Perry     AUS    679
8     Laura Wolvaardt      SA    672
9      Natalie Sciver     ENG    672

In [98]:
rank=[]
for i in range(1,11):
    rank.append(i)
rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
top_10_odi_players['rank']=rank
top_10_odi_players

               players coutry rating  rank
0          Mithali Raj    IND    762     1
1         Lizelle Lee      SA    761     2
2        Alyssa Healy     AUS    756     3
3      Tammy Beaumont     ENG    740     4
4   Amy Satterthwaite      NZ    726     5
5         Meg Lanning     AUS    723     6
6     Smriti Mandhana     IND    701     7
7        Ellyse Perry     AUS    679     8
8     Laura Wolvaardt      SA    672     9
9      Natalie Sciver     ENG    672    10