In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [33]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [50]:
soup=BeautifulSoup(page.content)
cricket_ranking=soup.find_all(class_="u-hide-phablet")
cricket_ranking

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [53]:
ranking=[]
team_name=[]
rank=1
for i in cricket_ranking:
    if (i.text!=''):
        ranking.append(rank)
        team_name.append(i.text.replace("\n"," "))
        rank=rank+1
ranking
team_name

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Oman',
 'Zimbabwe',
 'Scotland',
 'Nepal',
 'UAE',
 'United States',
 'Namibia',
 'Papua New Guinea']

In [55]:
top_odi_rank=pd.DataFrame({})
top_odi_rank['rank']=ranking
top_odi_rank['team_name']=team_name
top_odi_rank

    rank         team_name
0      1       New Zealand
1      2           England
2      3         Australia
3      4             India
4      5      South Africa
5      6          Pakistan
6      7        Bangladesh
7      8       West Indies
8      9         Sri Lanka
9     10       Afghanistan
10    11       Netherlands
11    12           Ireland
12    13              Oman
13    14          Zimbabwe
14    15          Scotland
15    16             Nepal
16    17               UAE
17    18     United States
18    19           Namibia
19    20  Papua New Guinea

In [74]:
matches_top1team=soup.find(class_="rankings-block__banner--matches")
matches_top1team
points_top1team=soup.find(class_="rankings-block__banner--points")
points_top1team
rating_top1team=soup.find(class_="rankings-block__banner--rating u-text-right")
rating_top1team

<td class="rankings-block__banner--rating u-text-right">
                            121
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>

In [62]:
matches_otherteam=soup.find_all(class_="table-body__cell u-center-text")
matches_otherteam

[<td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,793</td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">3,244</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,624</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,459</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">2,524</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,740</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,523</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">2,657</td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,054</td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">336</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">1,145</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">435</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">764</td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">258</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">330</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">190</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">232</td>,
 <td class="table-body__cell u-center-text">6</td>,
 <td class="table-body__cell u-center-text">97</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [73]:
matches=[]
points=[]
j=1
matches.append(matches_top1team.text)
points.append(points_top1team.text)
for i in matches_otherteam:
    if (j%2!=0):
        matches.append(i.text.replace("\n"," "))
    else:
        points.append(i.text.replace("\n"," "))
    j=j+1
points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054',
 '336',
 '1,145',
 '435',
 '764',
 '258',
 '330',
 '190',
 '232',
 '97',
 '0']

In [78]:
rating_otherteam=soup.find_all(class_="table-body__cell u-text-right rating")
rating_otherteam

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">113</td>,
 <td class="table-body__cell u-text-right rating">98</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">91</td>,
 <td class="table-body__cell u-text-right rating">84</td>,
 <td class="table-body__cell u-text-right rating">83</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell u-text-right rating">48</td>,
 <td class="table-body__cell u-text-right rating">46</td>,
 <td class="table-body__cell u-text-right rating">40</td>,
 <td class="table-body__cell u-text-right rating">38</td>,
 <td class="table-body__cell u-text-right rating">37</td>,
 <td class="table-body__cell u-text-right rating">30</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell u-text-right rating">17</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [79]:
rating=[]
rating.append(rating_top1team.text.replace("\n","").strip())
for i in rating_otherteam:
    rating.append(i.text.replace("\n"," "))
rating

['121',
 '119',
 '116',
 '113',
 '98',
 '93',
 '91',
 '84',
 '83',
 '62',
 '48',
 '46',
 '40',
 '38',
 '37',
 '30',
 '21',
 '17',
 '16',
 '0']

In [82]:
top_odi_rank=pd.DataFrame({})
top_odi_rank['rank']=ranking
top_odi_rank['team_name']=team_name
top_odi_rank['matches']=matches
top_odi_rank['points']=points
top_odi_rank['rating']=rating
top10_odi_rank=top_odi_rank.iloc[0:10,:]
top10_odi_rank

   rank     team_name matches points rating
0     1   New Zealand      17  2,054    121
1     2       England      32  3,793    119
2     3     Australia      28  3,244    116
3     4         India      32  3,624    113
4     5  South Africa      25  2,459     98
5     6      Pakistan      27  2,524     93
6     7    Bangladesh      30  2,740     91
7     8   West Indies      30  2,523     84
8     9     Sri Lanka      32  2,657     83
9    10   Afghanistan      17  1,054     62