In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [54]:
soup=BeautifulSoup(page.content)
bowler_first=soup.find_all(class_="rankings-block__banner--name")
bowler_first[1]
first_bowler=bowler_first[1]
first_bowler

In [55]:
player_bowling=soup.find_all(class_="table-body__cell name")
player_bowling[9:18]
bowling_players=player_bowling[9:18]
bowling_players

[<td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/967">Chris Woakes</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/490">Mitchell Starc</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/201">Shakib Al Hasan</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1664">Kagiso Rabada</a>
 </td>]

In [57]:
top_bowlers=[]
top_bowlers.append(first_bowler.text.replace("\n",""))
for i in bowling_players:
    top_bowlers.append(i.text.replace("\n",""))
top_bowlers

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [64]:
first_team=soup.find_all(class_="rankings-block__banner--nationality")[1]
first_team

<div class="rankings-block__banner--nationality">
<div class="flag-15 NZ"></div>
<span class="rankings-block__banner--nation"></span>NZ
                            <div class="rankings-block__banner--rating">737</div>
</div>

In [68]:
bowling_teams=soup.find_all(class_="table-body__logo-text")[9:18]
bowling_teams

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SA</span>]

In [75]:
top_bowling_teams=[]
top_bowling_teams.append(first_team.text.replace("\n","").split()[0])
for i in bowling_teams:
    top_bowling_teams.append(i.text)
top_bowling_teams

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [79]:
first_rating=soup.find_all(class_="rankings-block__banner--rating")[1]
first_rating

In [81]:
top_rating=soup.find_all(class_="table-body__cell u-text-right rating")[9:18]
top_rating

[<td class="table-body__cell u-text-right rating">709</td>,
 <td class="table-body__cell u-text-right rating">708</td>,
 <td class="table-body__cell u-text-right rating">700</td>,
 <td class="table-body__cell u-text-right rating">692</td>,
 <td class="table-body__cell u-text-right rating">691</td>,
 <td class="table-body__cell u-text-right rating">679</td>,
 <td class="table-body__cell u-text-right rating">652</td>,
 <td class="table-body__cell u-text-right rating">650</td>,
 <td class="table-body__cell u-text-right rating">646</td>]

In [82]:
top_ratings=[]
top_ratings.append(first_rating.text)
for i in top_rating:
    top_ratings.append(i.text)
top_ratings

['737', '709', '708', '700', '692', '691', '679', '652', '650', '646']

In [83]:
top_10odi_bowlers=pd.DataFrame({})
top_10odi_bowlers['name']=top_bowlers
top_10odi_bowlers['country']=top_bowling_teams
top_10odi_bowlers['rating']=top_ratings
top_10odi_bowlers

               name country rating
0       Trent Boult      NZ    737
1    Josh Hazlewood     AUS    709
2  Mujeeb Ur Rahman     AFG    708
3      Chris Woakes     ENG    700
4      Mehedi Hasan     BAN    692
5        Matt Henry      NZ    691
6    Jasprit Bumrah     IND    679
7    Mitchell Starc     AUS    652
8   Shakib Al Hasan     BAN    650
9     Kagiso Rabada      SA    646