In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [3]:
driver.get("https://www.youtube.com/")

In [4]:
search_element=driver.find_element_by_xpath("//input[@id='search']")
search_element.send_keys("mrbeast")
time.sleep(3)

In [5]:
search_button_element=driver.find_element_by_xpath("//button[@id='search-icon-legacy']")
search_button_element.click()
time.sleep(3)

In [6]:
video_elements= driver.find_element_by_xpath("//div[@id='title-wrapper'][1]")
video_elements.click()
time.sleep(5)

In [7]:
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.PAGE_DOWN)   
time.sleep(3)
html.send_keys(Keys.PAGE_UP)   
time.sleep(3)

In [8]:
for i in range(0,25):
    html.send_keys(Keys.END)
    time.sleep(3)

In [9]:
comment_list=[]
comment_elements=driver.find_elements_by_xpath("//*[@id='content-text']")
for elem in comment_elements:
    comment=elem.text
    comment_list.append(comment)    
len(comment_list)

500

In [10]:
date_posted_list=[]
date_posted_elements=driver.find_elements_by_xpath("//div[@id='header-author']//a[@class='yt-simple-endpoint style-scope yt-formatted-string']")
for elem in date_posted_elements:
    date_posted=elem.text
    date_posted_list.append(date_posted)    
len(date_posted_list)

500

In [11]:
comment_upvote_list=[]
comment_upvote_elements=driver.find_elements_by_xpath("//span[@id='vote-count-middle']")
for elem in comment_upvote_elements:
    comment_upvote=elem.text
    comment_upvote_list.append(comment_upvote)    
len(comment_upvote_list)

500

In [12]:
import pandas as pd
youtube_df=pd.DataFrame({})
youtube_df["comments"]=comment_list[0:500]
youtube_df["date posted"]=date_posted_list[0:500]
youtube_df["comment upvote"]=comment_upvote_list[0:500]
youtube_df

,comments,date posted,comment upvote
0,I can feel Chandler’s ankle pain through the s...,3 weeks ago,90K
1,"The line “I’m so proud of you Nolan, you’re th...",1 day ago,174
2,"""If you don't win the next challenge, you're k...",19 hours ago,34
3,"Mr. Beast in the year 6,000: Today we will be ...",10 hours ago,291
4,So when am I getting invited to the Squid Game?,36 minutes ago,7
...,...,...,...
495,I love how Nolan was so focused on the money w...,3 weeks ago,124
496,Beast only help his friends and cannot believe...,1 day ago,
497,I dare you to spent 24 hours in the quiest roo...,20 hours ago,
498,Send some of us poor people that support you s...,12 hours ago,
499,I’m in such a rut,1 day ago,