In [1]:
#!pip install selenium

In [2]:
import selenium 
import pandas as pd
import time
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:/Users/Admin/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
#driver=webdriver.Chrome("chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [7]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()
time.sleep(3)

In [8]:
job_titles=[]
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="515cd660-65df-43b3-813d-d8f4fcd84484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="2c6aca2e-b64b-4a4f-945d-11ccca12da83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="9266a40a-ad26-4a9c-a4e8-92960f6af3f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="0895e39e-5001-48a7-924f-2bf8c51f2e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="dc274103-f4e9-46f6-b576-02fc6b12ebb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="59cb2661-17c0-45e9-8af6-4c943e1c33df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="14154258-062f-4883-99b7-a72f509e4861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="14c8f3c7-6855-4f24-8376-76a2db1ae87e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="d1867831-3302-41aa-b062-16773194094b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="1d77fd57-3916-4e0e-913a-a8ce5350ae35")>]

In [9]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['SQL Data Analyst',
 'Data Analyst - Marketing',
 'Openings For Data Analyst',
 'Associate Data Analyst',
 'Business Data Analyst',
 'Data Analyst / Business Analyst (Demand Planning)',
 'Data Analyst',
 'Lead Data Analyst / Data Engineer',
 'Business Data Analyst',
 'Senior Data Analyst']

In [10]:
company_names=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="a2daee13-91e3-49cc-bced-64db8f2cd40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="0f0af6a5-92fa-4016-aa52-586a7017d06b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="671325a3-ca94-41f7-a354-5bef4be45d93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="e002d94b-6461-46bf-9827-bd8201023f8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="10e9efec-50ce-4e30-9b7a-a95d12d5c226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="04d2718c-9078-429d-acb8-e5882c642602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="5e80e626-75cc-4ebd-a9f0-f6b16f2a4a87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="e4642447-8cb8-4c54-943d-1fef9356ff8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="487eea45-5300-4fb8-a56d-c2a4fdb07019")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="253dc5e5-f037-486d-a324-be10540b8fd7")>]

In [11]:
for i in company_tags:
    names=i.text
    company_names.append(names)
company_names[0:10]

['NetApp',
 'Byjus - Transforming Education using Technology',
 'Allegis Services India Pvt. Ltd.',
 'Integrated Digital Systems',
 'INDIAVIDUAL LEARNING LIMITED',
 'Flipkart',
 'Applied Materials',
 'Huawei Technologies',
 'RANDSTAD INDIA PVT LTD',
 'Scienaptic Systems']

In [12]:
locations_list=[]
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="94de2e20-e48d-4bc5-9037-06b31fab6f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="938ad4af-be24-41f4-a61f-f81f33371aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="7e8df96c-1293-4578-a717-d22f1769adc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="eb77c987-0162-4ee1-9d84-a1316594866a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="cdcc0f42-a9ac-4bdc-b51e-1360e7b920a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="158ce3e9-de33-42c4-8df6-9278c08dc100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="171ac88f-29f8-4a12-8f45-66f49c7264cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="67e4c2f3-1ca5-4e46-b125-ad20cbf99c72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="4225ec25-81a3-4ad6-bb1b-9ca5f51f453d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="f55ecb02-0ced-4372-a7d3-116f4419577f")>]

In [13]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
experience_list=[]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="0f22c2ac-4dec-4429-9743-c0593c04555f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="0ffb6576-437e-42d2-a727-65fdbf89b563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="0abb3639-70d6-4f05-9e50-416c71d5d29f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="1a12652b-a855-46e4-8f10-ad29d4ec87aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="960172ac-9dfa-4a75-af33-f48a5bedcc9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="b2e1f121-eb14-4555-9d4d-dbfe23802660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="21457fc2-4917-4a0e-ba3b-08cdecf5e4d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="af3d4bf9-29c0-47e6-8f80-3b80fdb1d337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="c2c94672-021a-4db2-b332-5cda8f62575d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed965218d85819c5bbadcd20a062c46", element="1fd37d2e-1454-449b-bff6-2cb369bfb0f8")>]

In [15]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-7 Yrs',
 '0-2 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '8-12 Yrs',
 '5-10 Yrs']

In [16]:
print(len(job_titles),len(locations_list),len(company_names),len(experience_list))

20 20 20 20

In [17]:
import pandas as pd
jobs=pd.DataFrame({})
jobs["Title"]=job_titles[0:10]
jobs["Location"]=locations_list[0:10]
jobs["Company Name"]=company_names[0:10]
jobs["Experience"]=experience_list[0:10]
jobs

,Title,Location,Company Name,Experience
0,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
1,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
2,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
3,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
4,Business Data Analyst,Bangalore/Bengaluru,INDIAVIDUAL LEARNING LIMITED,2-6 Yrs
5,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
6,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
7,Lead Data Analyst / Data Engineer,Bangalore/Bengaluru,Huawei Technologies,5-10 Yrs
8,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Scienaptic Systems,5-10 Yrs