In [1]:
import selenium 
import pandas as pd
from selenium import webdriver

In [19]:
driver=webdriver.Chrome("chromedriver.exe")

In [20]:
driver.get("https://www.glassdoor.com/Job/index.htm")

In [21]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('LocationSearch')
search_loc.clear()
search_loc.send_keys("Noida")

In [22]:
search_btn=driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [15]:
#company_name, No. of days 
#ago when job was posted, Rating of the company

In [31]:
company_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
no_of_days_ago_posted=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
job_ratings=driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")

In [33]:
company_names=[]
for i in company_tags:
    names=i.text
    company_names.append(names)
company_names[0:10]

['Instrovate Technologies',
 'Pixel Vision',
 'Innovacer',
 'Crowe',
 'UnitedHealth Group',
 'HDFC Bank',
 'AlgoScale Technologies Private Limited',
 'Salasar New Age Technologies',
 'Optum - India',
 'Techlive']

In [34]:
no_of_days=[]
for i in no_of_days_ago_posted:
    days=i.text
    no_of_days.append(days)
no_of_days[0:10]

['30d+', '3d', '3d', '13d', '7d', '4d', '30d+', '30d+', '22d', '30d+']

In [35]:
job_rate=[]
for i in job_ratings:
    rating=i.text
    job_rate.append(rating)
job_rate[0:10]

['', '', '', '3.8', '3.7', '3.7', '4.0', '', '', '5.0']

In [41]:
import pandas as pd
jobs_df=pd.DataFrame({})
jobs_df["company name"]=company_names[0:10]
jobs_df["job posted"]=no_of_days[0:10]
jobs_df["rating"]=job_rate[0:10]

In [42]:
jobs_df

                             company name job posted rating
0                 Instrovate Technologies       30d+
1                            Pixel Vision         3d
2                               Innovacer         3d
3                                   Crowe        13d    3.8
4                      UnitedHealth Group         7d    3.7
5                               HDFC Bank         4d    3.7
6  AlgoScale Technologies Private Limited       30d+    4.0
7            Salasar New Age Technologies       30d+
8                           Optum - India        22d
9                                Techlive       30d+    5.0