In [1]:
import selenium 
import pandas as pd
from selenium import webdriver

In [31]:
driver=webdriver.Chrome("chromedriver.exe")

In [32]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [33]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('LocationSearch')
search_loc.clear()
search_loc.send_keys("Noida")

In [34]:
search_btn=driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [35]:
SignIn_link=driver.find_element_by_xpath("//a[@href='#signIn']")
SignIn_link.click()

In [ ]:
#used my glassdoor account ID and password. hence masking it

In [39]:
userEmail_elements=driver.find_elements_by_xpath("//input[@id='userEmail']")
userEmail_elements[1].send_keys("*******")

In [ ]:
#used my glassdoor account ID and password. hence masking it

In [40]:
password_elements=driver.find_elements_by_xpath("//input[@id='userPassword']")
password_elements[1].send_keys("******")

In [42]:
SignIn_button_elements=driver.find_elements_by_xpath("//button[@name='submit']")
SignIn_button_elements[1].click()

In [43]:
company_list=[]
company_elements=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
for elem in company_elements:
    company=elem.text
    company_list.append(company)
company_list

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Delhivery',
 'EXL Service',
 'Optum',
 'ZS Associates',
 'Optum Global Solutions',
 'dunnhumby',
 'Valiance Solutions',
 'Cognizant Technology Solutions',
 'Amazon',
 'Nagarro',
 'Innovaccer',
 'Fresher',
 'OYO',
 'HCL Technologies',
 'Genpact']

In [56]:
rating_list=[]
rating_elements=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
for elem in rating_elements:
    rating=elem.text
    rating_list.append(rating)
rating_list

['3.9',
 '3.9',
 '4.1',
 '4',
 '3.7',
 '3.7',
 '3.6',
 '3.7',
 '4',
 '3.9',
 '4.1',
 '4.2',
 '3.8',
 '3.7',
 '4',
 '3.8',
 '4.2',
 '3.3',
 '3.7',
 '3.8']

In [48]:
average_list=[]
average_elements=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for elem in average_elements:
    average=elem.text.replace("\n","")
    average_list.append(average)
average_list

['₹6,36,785 /yr',
 '₹9,24,624 /yr',
 '₹12,24,104 /yr',
 '₹x,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹x,xx,xxx /yr',
 '₹x,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xxx /mo',
 '₹xx,xx,xxx /yr',
 '₹x,xx,xxx /yr',
 '₹x,xx,xxx /yr']

In [50]:
min_list=[]
min_elements=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")
for elem in min_elements:
    minimum=elem.text.replace("\n","")
    min_list.append(minimum)
min_list

['₹4L',
 '₹6L',
 '₹6L',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xL',
 '₹xxT',
 '₹xxL',
 '₹xL',
 '₹xL']

In [51]:
max_list=[]
max_elements=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")
for elem in max_elements:
    maximum=elem.text.replace("\n","")
    max_list.append(maximum)
max_list

['₹13L',
 '₹26L',
 '₹23L',
 '₹xxL',
 '₹xxL',
 '₹xCr',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xxL',
 '₹xL',
 '₹xxL',
 '₹xxL',
 '₹xxL']

In [57]:
len(company_list),len(rating_list),len(average_list),len(max_list),len(min_list)

(20, 20, 20, 20, 20)

In [58]:
import pandas as pd
glassdoor=pd.DataFrame({})
glassdoor["Company"]=company_list[0:10]
glassdoor["Rating"]=rating_list[0:10]
glassdoor["Average salary"]=average_list[0:10]
glassdoor["Min salary"]=max_list[0:10]
glassdoor["Max salary"]=min_list[0:10]
glassdoor

                     Company Rating  Average salary Min salary Max salary
0  Tata Consultancy Services    3.9   ₹6,36,785 /yr       ₹13L        ₹4L
1                        IBM    3.9   ₹9,24,624 /yr       ₹26L        ₹6L
2                  Accenture    4.1  ₹12,24,104 /yr       ₹23L        ₹6L
3         Ericsson-Worldwide      4   ₹x,xx,xxx /yr       ₹xxL        ₹xL
4         UnitedHealth Group    3.7  ₹xx,xx,xxx /yr       ₹xxL        ₹xL
5                  Delhivery    3.7  ₹xx,xx,xxx /yr       ₹xCr        ₹xL
6                EXL Service    3.6  ₹xx,xx,xxx /yr       ₹xxL        ₹xL
7                      Optum    3.7  ₹xx,xx,xxx /yr       ₹xxL        ₹xL
8              ZS Associates      4  ₹xx,xx,xxx /yr       ₹xxL        ₹xL
9     Optum Global Solutions    3.9  ₹xx,xx,xxx /yr       ₹xxL       ₹xxL